<div class="row">
  <div class="col-md-12">
    <div id="errors">
      <% if @job.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% @job.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= simple_form_for @job do |f| %>
      <%= f.input :title %>
      <%= f.input :location %>
      <%= f.association :company %>
      <%= f.association :category %>
      <%= f.input :featured, as: :boolean %>
      <%= f.input :description, as: :text %>
      <%= f.button :submit, submit_text, class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
