<div class="row">
  <div class="col-md-12">
    <div id="errors">
      <% if @job.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% @job.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for @job do |f| %>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, {class: "form-control"} %>
      </div>

      <div class="form-group">
        <%= f.label :location %>
        <%= f.text_field :location , {class: "form-control"}%>
      </div>

      <div class="form-group">
        <%= f.label :company_id %>
        <%= f.collection_select :company_id, @companies, :id, :name, {}, {class:"form-control"} %>
      </div>

      <div class="form-group">
        <%= f.label :category_id %>
        <%= f.collection_select :category_id, @categories, :id, :name, {}, {class:"form-control"} %>
      </div>

      <div class="form-group">
        <%= f.label :featured  %>
        <%= f.check_box :featured %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, {class: "form-control"} %>
      </div>

      <%= f.submit submit_text, {class:"btn btn-primary"} %>
    <% end %>
  </div>
</div>
