<div class="row">
  <div class="col-md-12">
      <% if flash[:warning] %>
        <div class="alert alert-danger" role="alert">
          <span class="error_message"><%= flash[:warning] %></span>
        </div>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= simple_form_for @company do |f| %>
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :mail %>
      <%= f.input :phone %>
      <%= f.button :submit, submit_text, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
